[user]
	name = Matt McCallum
	email = <Enter Email Here>
[merge]
	tool = extMerge
[mergetool "extMerge"]
	cmd = extMerge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
	trustExitCode = false
[diff]
	external = extDiff
[mergetool "p4mergetool"]
	trustExitCode = false
[mergetool]
	keepBackup = false
